{% extends 'extracao/base.html' %}
{% block title %}Update Workspace{% endblock %}
{% block workspaces_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
<meta charset="UTF-8">
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Update Workspace</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'extracao/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Atualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Social CRM Api?</h3>
                    <p>É uma aplicação para extrair conteúdo de redes sociais.</p>
                    <h3>Como realizar a extração?</h3>
                    <p>Primeiro, crie uma nova workspace na página inicial. Escolha a rede social desejada para realizar a extração das postagens.</p>
                    <h3>Quais informações são necessárias?</h3>
                    <ul>
                        <li>Criar um app do facebook <a href="https://developers.facebook.com/"> facebook for developers</a></li>                        
                        <li>Copiar User token</li>
                        <li>Escolher Fanpage que deseja obter os posts</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
